<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120357826866-2uits863me9tepsnfm2sm7eaui8a1c7f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120357826866-2uits863me9tepsnfm2sm7eaui8a1c7f</string>
	<key>API_KEY</key>
	<string>AIzaSyAIKZJ-hj-qkxpyC25hqDgXhJ57ME9QKLI</string>
	<key>GCM_SENDER_ID</key>
	<string>120357826866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.maxFoodDeliveryAdminPanel</string>
	<key>PROJECT_ID</key>
	<string>max-food-delivery-app</string>
	<key>STORAGE_BUCKET</key>
	<string>max-food-delivery-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120357826866:ios:f55e34d7c169f2979ba72b</string>
</dict>
</plist>